@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 

NAV

*/

#top--page {
    margin: 40px 20px;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--container {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__link {
    margin-left: 56px;
    font-size: 18px;
    font-weight: 700;
}

.nav__link--button {
    background-color: purple;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
}

.movie__browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.movie__browse--title {
    font-size: 56px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.movie__search--wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.movie__browse--input {
    height: 70px;
    width: 50%;
    font-size: 30px;
    border-radius: 50px;
    padding: 12px;
}