@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 

NAV

*/

#top--page {
    position: relative;
    background-color: rgba(35, 35, 36, 0.7);
} 

.top__content {
    padding: 40px 20px;
    z-index: 100;
}

.overlay {
    background-image: url("https://wallpaperaccess.com/full/329633.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    filter: blur(3px);
    opacity: 40%;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nav__logo--container {
    display: flex;
    
}

.nav__list {
    display: flex;
}

.nav__link {
    margin-left: 52px;
    font-size: 18px;
    font-weight: 500;
}

.nav__link--button {
    background-color: white;
    padding: 18px 36px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.movie__browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie__browse--title {
    font-size: 56px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.movie__search--wrap {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;

}

.movie__browse--input {
    height: 70px;
    width: 100%;
    font-size: 24px;
    border-radius: 50px;
    padding: 12px;
    border: none;
    overflow: hidden;
}

.search__button--wrapper {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-right: 20px;

}

.search__button {
    filter: invert(1);
    width: 100%;
    height: 100%;
}



